/* style.css */
body {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
}


img {
    max-width: 200px;        /* keeps photo from being too big */
    display: block;           /* lets margin auto center it */
    margin: 1rem auto 2rem;   /* 1rem top, auto sides (center), 2rem bottom */
}