/* All CSS is in a stylesheet - The appearance */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: cyan;
}


/* Fix navbar scroll covering section h2 */
h2 {
    scroll-margin-top: 80px;
}